body{
    font-family: 'Inter', sans-serif;
    width: 100%;
}
.headerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 130px;
    margin-left: 7%;
    background-color: rgba(16, 144, 216, 0.1);
    padding: 50px;
    border-radius: 8px;
}
.headerContainer h1{
    font-size: 45px;
    font-weight: 700;
    color: rgba(17, 17, 17, 0.8);
}
.headerContainer p{
    font-size: 30px;
    font-weight: 500;
    color:  rgba(17, 17, 17, 0.6);
}
.headerButton{
    width: 120px;
    height: 48px;
    background-color: #1090D8;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 700;
}
.headerButton:hover{
    background-color:antiquewhite;
    color: black;
}
.mainContainer{
    width: 80%;
    margin-left: 7%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 80% 20% ; 
    grid-gap: 25px;

}
.subContainer{
    
    display: grid;
    grid-template-columns:auto auto auto ;
    grid-gap: 15px;
}
.container1{
    /* background-color: pink; */
    height: 600px;
    width: 315px;
    /* width: 20%; */
    border-radius: 8px;
    border: 1px solid  rgba(17, 17, 17, 0.1);
}
.container1 img{
    /* width: auto; */
    
    margin-left:15%;
    margin-top: 10%;
    width: 70%;
    height: 180px;
  
}
.detailContainer{
    text-align: center;
    color: #414141;
}
.detailContainer input{
    width: 95px;
    border: none;
    border-radius: 4px;
    background-color: #F1F1F1;
    padding: 10px;
}
.calculateButton{
    margin-top: 81px;
    /* margin-bottom: 10%; */
    width: 200px;
    height: 56px;
    margin-left: 59px;
    background-color: #1090D8;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
}
/* table tr::before{
    display: flex;
    gap: 10px;
    counter-increment: rowNumber;
    content: counter(rowNumber)".";
} */
#resultText{
    margin-left: 10px;
}
#convertButton{
    background-color: #1090D8;
    color: white;
    border: none;
    border-radius: 4px;
    height: 30px;
    margin-left: 10px;
}